p, h1, div {
	font-family: Gill Sans
}
a {
	text-decoration: none !important;
}

.content {
	background-color: #c0504d;
}

.cover-element {
	height: 250px;
	text-align: center;
	position: relative;
	margin: auto;
	margin-bottom:60px;
}

.cover-img {
	position: absolute;
	display: inline-block;
	margin-top:120px;
	height:80px;
	width: auto;
}

.house-card {
	position: relative;
	margin:auto;
	background-color:white;
	box-shadow: 0px 2px 5px rgba(0,0,0,.2);
	border-radius: 25px;
	height: 200px;
	width: 200px;
}

.house-title {
	color:white;
	text-align: center;
	font-size: 32px;
}

.star-container {
	margin: -10px auto 0px auto;
	position: relative;
	text-align: center;
	width:200px;
}

.star {
	display:inline-block;
	width:35px;
	height: auto;
}

.housing-options {
	font-size: 36px;
	font-color: #c0504d;
	text-align: center;
}
