/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gill Sans, "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    //font-weight: 700;
    font-weight: normal;
}

div {
    font-family: Gill Sans, "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.add-review-button {
    width:200px;
    height:40px;
    margin:auto;
    position: relative;
    //background-color:white;
    background-color: #ffcc00;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    border-radius: 5px;

}

#comment {
	wrap:hard;
	padding-left:0;
	padding-right:0;
	height: 200px;
}

.rating-categories-container {
    text-align: center;
    /width:25%;
    /margin-left:5%;
    font-size:14px;
}


#reviewRow {
	display:none; 
	padding-bottom: 40px;
	/width:80%;
	/margin-left:10%;
}

.housing-image {
/*	width: 300px;*/
/*	height:300 px;*/
/*     background: url(../img/gateway.jpeg) no-repeat center center;
 */    width: 380px;
    height: 280px;
    position: relative;
}

.house-images-table {
    display: table;
    width: 100%;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 60%;
    }
}

.housing-image-container {
    display: table-cell;
    position: relative;
    margin: auto;
    width:100%;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
    background-color: #CCC;
    height:400px;
}

/* .housing-image-card {

    position: relative;
   background: url(../img/gateway.jpeg) no-repeat center center;
    background-size: cover;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    min-height: 550px;
    max-height: 650px;
    width: auto;
    margin: 60px auto 0px auto;

} */

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

hr { 
    /display: block;
    margin-top: 1px;
    margin-bottom: 1px;
/*    margin-left: auto;*/
/*    margin-right: auto;*/
    /border-style: inset;
    /border-width: 1px;
    background-color:#ffcc00;
}

#trologo {
	height: 50px;
	width: 106px;
	top: 0px;
	padding: 0px 0px;
}

#introText {
    font-weight: lighter;
	font-size: 3em;
    text-align: center;

    /color: #c0504d;
    /color: white;
    /color:#ffcc00;

}

#addressText {
    font-weight: lighter;
    font-size: 2em;
    text-align: center;

    /color: #ffcc00;
}

#top-text-wrap {
    z-index: 99;
    position: absolute;
    margin-top: 190px;
    margin-left: 25%;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    color:white;
    background-color: rgba(100,100,100,.4);
    box-shadow: 0px 2px 5px rgba(0,0,0,1);


}

#ratingTextBig {
	text-align: center;
/*	padding-top: 0px;*/
	font-size: 3em;
    //color: #c0504d;
	//color:#CCC;
    /color: #ff8800;
    color:white;
    position: relative;
}

.rating {
	text-align: center;
	font-size: 1.5em;
    /color: #c0504d;
	//color: #CCC;
    color:white;
    /display: table;
    display:inline-block;
}

.rating-tab {
    overflow-x:auto;
    display: table-cell;
    padding: 0px 45px;
    vertical-align: middle;
    font-size: 24px;
    height: 50px;
    text-align: center;
    background-color: #ffcc00;
    border-radius: 5px 5px 0px 0px;
    cursor: hand;
    cursor: pointer;
    opacity: 0.6;
}

.rating-tab:hover {
    opacity: 1;
}

.rating-tab.active {
    opacity: 1;
}

#descriptionText, #amenitiesText, #priceGraph, #floorPlan  {
    color:black;
    border-radius: 5px;
    /border-radius: 5px 5px 0px 0px;
	/background-color: #c05049;
    background-color: white;
	min-height: 300px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
}


.reviews-container {
    overflow-y: auto;
    color:black;
    padding:0px;
    /border-radius: 5px 5px 0px 0px;
    /background-color: #c05049;
    background-color: white;
    //min-height: 450px;
    //max-height: 450px;
    height: 450px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
}

.rating-master-container {
    margin-top: -10px;
    background-color:#c05049;
    padding-bottom:50px;
    /box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

.descriptionRow {
	padding-top: 5px;
	font-size: 1.8em;
	padding-left: 23px;
}

.scrolling-description-row {
    //margin-top: 20px;
    padding-top: 5px;
    font-size: 18px;
    height: 200px;

}

.single-review {
    margin-top:40px;
    margin-bottom: 40px;
    /border-color: #FFCC00;
    border-color: black;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    border-radius: 5px;
    //border-style: solid;
    //border-width: 1px;
/*     overflow-y:auto; 
 */    width: 80%;
    margin-left: 2%;

}

.reviewer-info-row {

    min-height: 60px;
    width: 100%;
}

.reviewer-image-and-name {

}

.reviewer-username {
    margin-left: 10px;
    display: inline-block;
    font-size: 36px;
}


.reviewer-username-row {
    display: table-row;
}

.reviewer-username-cell {
    display: table-cell;
}

.reviewer-image {
    height: 80px;
    margin-top: -7px;
}

.reviewer-image-wrapper {
    margin-top: 5px;
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius:60px;
    overflow: hidden;
}

#reviewForm {
	
	overflow-y: auto;
    color:black;
    padding:0px;
    margin-bottom: 15 px;
    /border-radius: 5px 5px 0px 0px;
    /background-color: #c05049;
    background-color: white;
    //min-height: 450px;
    //max-height: 450px;
    height: 300px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
}

.filter-row {
    overflow-x: scroll;
    border-radius:5px 5px 0 0;
    height: 80px;
    padding: 0px 10px;
    margin: 0px;
    background-color: #FFCC00;
    color:black;
}

.filter-button {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-width: .5px;
    height: 40px;
    margin-top: 20px;
    background-color: white;
    /background-color: rgba(100,100,100,.4);
    opacity: .6;
}

.filter-button:hover {
    opacity: 1;
}

.filter-button.active {
    opacity: 1;
}

.filter-specifier {
    padding-top: 10px;
}

#firstRowDescription {
	padding-top: 20px;
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

.slider {
	width:70% !important;
	margin-left:15%;
}

.slider-wrapper {
	font-size: 24px;
	margin:10px 0px;
}

.preferences-wrapper {
	height: 570px;
	margin-top:20px;
	background-color: white;
	width:25%;
	margin-left:37.5%;
	border-radius:10px;
	box-shadow: 0px 2px 5px rgba(0,0,0,.2);
	min-width: 220px;
}

.tick {
	color:#ffcc00;
	display: inline;
	width:20%;
	float:left;
}

.slider-ticks {
	width: 72%;
  	margin-left: 14%;
  	height: 30px;
}